
<div class="ui stackable two column grid centered ">
  <div class="one column center aligned index-column">
    <div class="ui segment piled">
      {{type-text}}
    </div>

    <div class="ui segment piled">
      <a target="_blank" href="https://github.com/mrarnoldpalmer">
        <h2 class="ui header">
        <i class="large icons">
          <i class="github icon"></i>
        </i>
        GitHub
      </h2>
      </a>
    </div>

    <div class="ui segment piled">
      <a target="_blank" href="https://gitlab.com/u/mitchellvaline/">
        <h2 class="ui header">
        <i class="large icons">
          <i class="git icon"></i>
        </i>
        GitLab
      </h2>
      </a>
    </div>
  </div>

  <div class="one column center aligned index-column">
    <div class="ui segment piled">
      <a target="_blank" href="https://www.linkedin.com/pub/mitchell-valine/97/533/623">
        <h2 class="ui header">
        <i class="large icons">
          <i class="linkedin icon"></i>
        </i>
        LinkedIn
      </h2>
      </a>
    </div>

    <div class="ui segment piled">
      <a target="_blank" href="https://plus.google.com/u/0/+MitchellValine/posts">
        <h2 class="ui header">
        <i class="large icons">
          <i class="google plus icon"></i>
        </i>
        Google +
      </h2>
      </a>
    </div>

    <div class="ui segment piled">
      <a target="_blank" href="https://instagram.com/mrarnoldpalmer/">
        <h2 class="ui header">
        <i class="large icons">
          <i class="instagram icon"></i>
        </i>
        Instagram
      </h2>
      </a>
    </div>
  </div>

</div>

<!-- <div class="ui three cards">
  {{#each model as |project|}}
    <div class="ui card">
      <div class="image">
        <img src={{project.screenshotURL}}>
      </div>
      <div class="content project-content">
        {{#link-to 'project' project.id}}
          <div class="header">
            {{project.title}}
          </div>
          <div class="description">
            <p>{{{truncate-string project.text limit=500}}}</p>
          </div>
        {{/link-to}}
      </div>
    </div>
  {{/each}}
</div> -->
