<h2>Posts</h2>
<div class="ui items">
  {{#each post in model}}
  <div class="ui item">
    {{#link-to 'post' post.id}}
      <div class="ui header">
        {{post.title}}
      </div>
      <div class="content">
        {{{truncate-string post.text limit=500}}}
      </div>
    {{/link-to}}
  </div>
  {{/each}}
</div>
